@import '../../common-styles/helpers/frompxtorem'
@import '../../common-styles/vars'

$button-padding: rem(10px) rem(25px)

.main-page-wrap
    min-height: 100vh
    background: url(../../services/img/background.png) center
    background-size: cover
    padding: rem(30px) 0 2.5em 0
.main-page-navbar
    justify-content: space-between
    font-size: rem(18px)
.main-page-navbar-items
    font-family: $main-font
.main-page-navbar__item
    margin: 0 rem(20px)
    cursor: pointer
    list-style-type: none
    transition: width .3s ease-in-out
    &:hover
        text-decoration: underline
        text-decoration-color: #5A78F0 
        // text-decoration-style: wavy
.main-page-navbar__signup
    text-decoration: none
    color: black
    &:hover
        text-decoration: underline solid #5A78F0 
        // text-decoration-style: wavy
.main-page-navbar__login
    color: #5A78F0
    font-family: $main-font-semibold
    text-decoration: underline
.main-page-main
    font-family: $main-font
    margin-top: 12%
.main-page-main-text
    text-align: center
.main-page-main-text__headline
    font-family: $main-font-semibold
    font-size: rem(48px)
    margin: 0
.main-page-main-text__headline-t
    color: #5a78f0
.main-page-main-text__description
    line-height: 2rem
    margin-top: rem(50px)
    color: black
    font-size: rem(18px)
    width: 30vw
.main-page-main__button
    margin-top: rem(50px)
    font-size: rem(24px)
    font-family: $main-font-semibold
    padding: $button-padding
    cursor: pointer

.main-page-everyone-wrap
    background: url(../../services/img/everyone-back.png) center
    background-size: cover
    height: 100vh
    padding: rem(70px) 0
.main-page-everyone-container
    margin: 0
    margin-top: rem(150px)
    grid-template-columns: repeat(4, rem(330px))
    grid-gap: rem(120px)
    font-family: $main-font
.main-page-everyone-container-item__img
    height: rem(230px)
.main-page-everyone-container-item__headline
    margin-top: rem(30px)
    font-family: $main-font-semibold
    font-size: rem(24px)
.main-page-everyone-container-item__description
    margin-top: rem(55px)
    text-align: center
    font-size: rem(18px)
    line-height: rem(30px)
.main-page-everyone__button
    cursor: pointer
    margin-top: rem(70px)
    font-size: rem(24px)
    font-family: $main-font-semibold
    padding: $button-padding

.main-page-how-wrap
    background: url(../../services/img/how-back.png) center
    background-size: cover
    height: 100vh
    padding: rem(70px) 0


.main-page-make-wrap
    background: url(../../services/img/make-back.png) center
    background-size: cover
    height: 100vh
    padding: rem(70px) 0
